{% load i18n wagtailadmin_tags %}

    <section class="panel summary nice-padding">
        <table style="width: 90%;">
            <tr>
                <td style="width: 45%; text-align: center;">
                    {% if is_data_status %}
                    <h1>{{ chart_title_status }}</h1>
                        <div>
                            <canvas id="chart_members_1"></canvas>
                        </div>
                    {% endif %}
                </td>
                <td style="width: 10%; text-align: center;"></td>
                <td style="width: 45%; text-align: center;">
                    {% if is_data_version %}
                    <h1>{{ chart_title_version }}</h1>
                        <div>
                            <canvas id="chart_members_2"></canvas>
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </section>

{% block extra_js %}
<script>

const member_ctx1 = document.getElementById('chart_members_1').getContext('2d');
const member_myChart1 = new Chart(member_ctx1, {
    type: 'doughnut',
    data: {
        labels: [{% for label in labels %}'{{ label | escape }}',{% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: {{ data_status }},
            backgroundColor: [
                {% for color in backgroundColor_status %}'{{ color | escape }}',{% endfor %}
            ],
            borderWidth: 1
        }]
    },
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: '{{ chart_title_status }}'
      }
    }
  },
});

const member_ctx2 = document.getElementById('chart_members_2').getContext('2d');
const member_myChart2 = new Chart(member_ctx2, {
    type: 'doughnut',
    data: {
        labels: [{% for label in labels_version %}'{{ label | escape }}',{% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: {{ data_version }},
            backgroundColor: [
                {% for color in backgroundColor_version %}'{{ color | escape }}',{% endfor %}
            ],
            borderWidth: 1
        }]
    },
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: '{{ chart_title_version }}'
      }
    }
  },
});

</script>
{% endblock extra_js %}